<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.czgame.wordbank">

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <dist:module
        dist:instant="true"
        dist:onDemand="false"
        dist:title="Instant App">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.promotodo.daily_details"
            android:label="@string/title_activity_daily"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".ui.words.WordDetail"
            android:label="@string/title_activity_word_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Quiz.Quiz_match"
            android:label="@string/Quizmatch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.promotodo.pro_backup"
            android:label="@string/title_activity_backup_pro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.promotodo.promodetail"
            android:label="@string/Promotodo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.promotodo.Promotodo_activity"
            android:label="@string/Promotodo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Quiz.quiz_result"
            android:label="@string/result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.news.news_backup"
            android:label="@string/title_activity_news_backup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Quiz.Quiz_confirm"
            android:label="@string/Confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.news.news_update"
            android:label="@string/update_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.news.news_details"
            android:label="@string/title_activity_news_details"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".root.WalkThrough"
            android:label="@string/Walk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.news.news_activity"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.news.add_news"
            android:label="@string/title_add_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.words.backup_restore"
            android:label="@string/title_activity_backup_restore"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.words.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".root.SplashActivity"
            android:allowBackup="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.words.add_page"
            android:label="@string/title_activity_addpage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.words.word_details"
            android:label="@string/title_activity_word_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Quiz.quiz_page"
            android:label="@string/title_quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.media.MediaActivity"
            android:label="@string/music_play"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".ui.media.Media_list_activity"
            android:label="@string/music_play"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".ui.media.MyNotificationReceiver"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="RESUME_ACTION" />
                <action android:name="STOP_ACTION" />
                <action android:name="CANCEL_ACTION" />
                <action android:name="NEXT_ACTION" />
                <action android:name="AUDIOFOCUS_GAIN" />
                <action android:name="AUDIOFOCUS_LOSS" />
                <action android:name="AUDIOFOCUS_LOSS_TRANSIENT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ui.words.Mainservice"
            android:enabled="true" />
        <service android:name=".ui.media.NotificationService" />
        <service android:name=".ui.promotodo.CountService" />
        <service
            android:name=".ui.promotodo.Promotodo_service"
            android:enabled="true" />

        <receiver
            android:name=".ui.promotodo.Promotodo_receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="GET_TIME" />
                <action android:name="SET_TIME" />
                <action android:name="DONE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.backup_scheudle.receive_back"
            android:enabled="true"
            android:exported="true" />
        <uses-library android:name ="org.apache.http.legacy" android:required ="false"/>

    </application>


</manifest>